


<div class="jumbotron">
  <h2>Xiamen Spots <small>Collection</small></h2>
  <p>We are the best collection of Xiamen Spots for Japanese!</p>
</div>

<section class="slider">
<ul class="bxslider">
   <% i = 0 %>
<% @spots_featured.each do |spot| %> 

  <li><a href="/spots/<%= spot.id %>"><img src="/uploads/<%= spot.image %>" title="［<%= spot.name %>］ <%= truncate(spot.description, :length => 60) %>" /></a></li>

<% i = i + 1 %>
<% end %>
</ul>
</section><!-- /slider -->


<div class="panel panel-default">
  <div class="panel-body">
    Browse by: 

    <% @categories.each do | category | %>
          <a href="/categories/list/<%= category.id %>" class="label label-default" role="button"><%= category.name %></a>
        <% end %>
  </div>
</div>


<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Recent Spots</h3>
	</div>

	<div class="panel-body">

		<div class="row">

			<%= render :partial=>"layouts/spotItem", locals: {zone: @spots_recent} %>
  
		</div><!--/row-->

	</div>

	<div class="panel-footer">
		<div class="text-right"><a href="/spots" class="btn btn-success" role="button">All Spots <span class="glyphicon glyphicon-circle-arrow-right"></span></a></div>
	</div>

</div><!-- //recent spots -->




<div class="panel panel-warning ranking-list" id="ranking-top">
	<div class="panel-heading">
		<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Ranking</h3>
	</div>

	<div class="panel-body">

		<div class="row">

			<%= render :partial=>"layouts/spotItem", locals: {zone: @spots_ranking } %>
 
		</div><!--/row-->

	</div>

</div><!-- //Ranking spots -->
